<section class="home container" id="home">
    <div class="home-text">
        <span class="hero-text text-center text-white">
            <h1>PERFECT NEST TO GROW AND SUCCEED,<br />WHERE DREAMS COME TO LIFE</h1>
            <a class="nav-link rounded-pill btn btn-primary text-white" id="register" asp-controller="Authentication" asp-action="Register">Explore</a>
        </span>
        
    </div>
</section>
