/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}
/*Variable*/
:root {
    --main-color: #2288ff;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;
    /*Box Shadow*/
    --box-shadow: 2px 2px 18px rgb(14 52 54 /15%);
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section {
    padding: 4.5rem 0 3rem;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
    text-transform: uppercase;
}

    .logo.bx {
        font-size: 24px;
        color: var(--main-color);
    }

.navbar {
    display: flex;
}

    .navbar a {
        padding: 8px 17px;
        color: var(--text-color);
        font-size: irem;
        text-transform: uppercase;
        font-weight: 500;
    }

        .navbar a:hover {
            color: var(--main-color);
        }

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

.btn {
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

    .btn:hover {
        background: #3492fd;
    }

.home {
    margin-top: Srem;
    background: url(home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: Flex
}

.home-text {
    padding-left: 35px;
}

    .home-text h1 {
        color: var(--bg-color);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

.abouts {
    display: flex;
    flex-direction: column;
}

.about-img {
    width: 40%;
}

.about-text {
    text-align: right;
    /* Add styling for the text container if needed */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(about.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrap {
    width: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

    .wrap h1 {
        font-size: 36px;
        text-align: center;
    }

    .wrap .input-box {
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    appearance: textfield;
}

.input-box input::-webkit-outer-spin-button,
.input-box input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

    .input-box input::file-selector-button {
        background: transparent;
        border: none;
        font-weight: bold;
        color: #fff;
        border-radius: 3px;
        padding: 0px 0px 100px 0px;
    }

.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 5px 45px 5px 20px;
}

.input-box option {
    color: #000;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrap .forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

    .wrap .forgot label input {
        accent-color: #fff;
        margin-right: 3px;
    }

.forgot a {
    color: #fff;
    text-decoration: none;
}

    .forgot a:hover {
        text-decoration: underline;
    }

.wrap .button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrap, .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

    .register-link p a:hover {
        text-decoration: underline;
    }
