@using AccommoLinkResidenceAssistance.Constants;
@using AccommoLinkResidenceAssistance.Areas.Identity.Data;
@model ApplicationUser

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}


<div class="wrap">
    <form asp-action="Register" enctype="multipart/form-data" method="post">
        <h1>Register</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-box form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" required/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="input-box form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="input-box form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-box form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" type="number" class="form-control" required />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="input-box form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" required/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="input-box form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="input-box form-group">
            <label asp-for="UserRole" class="control-label"></label>
            <select asp-for="UserRole" class="form-control" asp-items="Html.GetEnumSelectList<UserRole>()">
                <option disabled selected hidden>Please select an option</option>
            </select>
            <span asp-validation-for="UserRole" class="text-danger"></span>
        </div>

        <div class="input-box form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" class="form-control" type="file" id="formFile" accept="image/*" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <button type="submit" class="button">Sign Up</button>
        <div class="Register-link">
            @*<p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>*@
            <p>
                Already have an acocunt? <a asp-area="Identity" asp-page="/Account/Login">Login here!</a>
            </p>
            @*<p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>*@
        </div>
    </form>
</div>

